<div class="container">
  <div class="content">
    <p *ngIf="loginError" class="has-text-danger">Incorrect login data!!</p>
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <div class="container">
        <label for="login">Login</label>
        <input class="input is-expanded mb-2" id="login" formControlName="login" type="text" required placeholder="Wpisz login">
        <p *ngIf="!loginForm.controls['login'].valid && loginForm.controls['login'].touched" class="has-text-danger is-small is-fullwidth mb-2">Niepoprawny format loginu, podaj przynajmniej 5 znaków</p>
      </div>
      <div class="container">
        <label for="hasło">Hasło</label>
        <input class="input is-expanded mb-2" id="hasło" formControlName="hasło" type="text" required placeholder="Wpisz hasło">
        <p *ngIf="!loginForm.controls['hasło'].valid && loginForm.controls['hasło'].touched" class="has-text-danger is-small is-fullwidth mb-2">Niepoprawny format hasła, podaj przynajmniej 5 znaków</p>
      </div>
      <div class="container">
        <button type="submit" class="button is-fullwidth is-success mt-5">Zaloguj się</button>
        <a class="card" routerLink="/Wylogowanie" routerLinkActive="active" ariaCurrentWhenActive="page">Wyloguj</a>
      </div>
    </form>
  </div>
</div>