<div class="toolbar" role="banner" style="background-image: url('assets/panel.jpg'); background-size: cover; background-repeat: no-repeat;">
  <a routerLink="" routerLinkActive="active">
  <mat-icon class="p2" routerLink=""> import_contacts</mat-icon>
</a>
  <a class="p4" aria-label="First" routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">
    
    <span>Nasza wypożyczalnia</span>
  </a>

   <div class="spacer"></div>
   <a class="p2" aria-label="Dodanie" routerLink="/add" routerLinkActive="active"ariaCurrentWhenActive="page" *ngIf="isLogged=='false'">
    <span>Dodanie</span>
  </a>
  <a class="p2" aria-label="Logowanie" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="isLogged=='false'">
    <span>Logowanie</span>
  </a>
  <a class="p2" aria-label="Rejestracja" routerLink="/register" routerLinkActive="active"ariaCurrentWhenActive="page" *ngIf="isLogged=='false'">
    <span>Rejestracja</span>
  </a>
  <button class="p2 btn btn-secondary" aria-label="Konto"ariaCurrentWhenActive="page" *ngIf="isLogged=='true'" routerLink="/change-password" routerLinkActive="active">
    <span class="p2">Zmień hasło</span>
  </button>
  <button class="p2 btn btn-secondary" aria-label="Konto"ariaCurrentWhenActive="page" *ngIf="isLogged=='true'" (click)="wyloguj()">
    <span class="p2">Wyloguj</span>
  </button>
  <a class="p2" aria-label="Koszyk" routerLink="/cart" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="isLogged=='true'">
    <mat-icon>shopping_basket</mat-icon>
  </a>
</div>
  <nav style="background-image: url('assets/panel.jpg'); background-size: cover; background-repeat: no-repeat;">
    <ul>
      <li><a routerLink="/xml">Xml</a></li>
      <li><a routerLink="/json">Json</a></li>
      <li><a routerLink="/charts">Użytkownicy-koszyki</a></li>
      
    </ul>
  </nav>
  <body style="background-image: url('assets/background.jpg'); background-size: cover; background-repeat: no-repeat; height: 1050px;">

<router-outlet></router-outlet>
</body>
<footer style="background-image: url('assets/panel.jpg'); background-size: cover; background-repeat: no-repeat;">
  &copy; 2023 Wypożyczalnia Książek. Wszelkie prawa zastrzeżone.
</footer>