version: '3.8'

services:

  web:
    build: 
      context: ./frontend
      dockerfile: dockerfile
    ports:
      #- "50081:80"
      - "4200:4200"
    depends_on:
      - php
    networks:
      - frontend
      - backend
    volumes:
      - ./:/var/www

  php:
    tty: true
    container_name: laravel
    build: 
      context: ./backend
      dockerfile: dockerfile
    ports:
      - 8000:8000
    networks:
      - backend


  database:
    container_name: mysql
    image: mysql:8.0
    # build: 
    #   context: ./mysql
    #   dockerfile: Dockerfile

    ports:
      - 3306:3306
    environment:
        # MYSQL_ROOT_PASSWORD: root3
        # MYSQL_DATABASE: projekt
        # MYSQL_USER: root2
        # MYSQL_PASSWORD: password2
      - MYSQL_DATABASE=laravel
      - MYSQL_USER=user
      - MYSQL_PASSWORD=secret
      - MYSQL_ROOT_PASSWORD=secret
    volumes:
      - ./mysql/baza1:/var/lib/mysql
      - ./mysql/projekt.sql:/projekt.sql

    #command: docker exec -it mysql bash
    #command: sekret
    #command: cat /projekt.sql | mysql --user=root --password=secret laravel 

    #  -  ./:/var/www
    networks:
      - backend
    # backend:
    #  ipv4_address: 172.0.0.2

  phpMyAdmin:
    image: phpmyadmin
    environment:
      PMA_ARBITRARY: 1
    ports:
      - '8080:80'
    networks:
      - backend


networks:
  frontend:
  backend: