<div class="o1">
  <div class="content" role="main">
    <h2>Dostępne książki:</h2>
  </div>
  <div *ngFor="let book of books">
    <div class="book-details">
      <div class="image-container">
        <img [src]="book.coverImageUrl" alt="Okładka książki" width="125" height="200">
      </div>
      <div class="description-container">
        <h2><a [routerLink]="['/book', book.id]">{{ book.title }}</a></h2>
        <p>Autor: {{ book.author }}</p>
        <!-- <p>Opis: {{ book.description }}</p> -->
        <p>Cena: {{ book.price }}$</p>
        <button (click)="addToCart(book)" class="btn btn-primary mb-4">Dodaj do koszyka</button>
      <button (click)="removeBook(book.id)" class="btn btn-danger mb-4">Usuń</button>
      <button [routerLink]="['/edit-book', book.id]" class="btn btn-primary mb-4">Edytuj</button>
      </div>
    </div>
  </div>
</div>
