<div class="o1">
    <h2>Zmień hasło</h2>
  
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
       <!-- <div class="mb-2">
        <label for="currentPassword">Aktualne hasło:</label>
        <input type="password" id="currentPassword" formControlName="currentPassword">
        <div *ngIf="changePasswordForm.controls['currentPassword'].errors?.['required'] && changePasswordForm.controls['currentPassword'].touched">
          Aktualne hasło jest wymagane.
        </div>
      </div> -->
  
      <div class="mb-2">
        <label for="newPassword">Nowe hasło:</label>
        <input type="password" id="newPassword" formControlName="newPassword">
        <div *ngIf="changePasswordForm.controls['newPassword'].errors?.['required'] && changePasswordForm.controls['newPassword'].touched">
          Nowe hasło jest wymagane.
        </div>
        <div *ngIf="changePasswordForm.controls['newPassword'].errors?.['minlength'] && changePasswordForm.controls['newPassword'].touched">
          Nowe hasło musi mieć co najmniej 6 znaków.
        </div>
      </div>
  
      <div class="mb-2">
        <label for="confirmNewPassword">Potwierdź nowe hasło:</label>
        <input type="password" id="confirmNewPassword" formControlName="confirmNewPassword">
        <div *ngIf="changePasswordForm.controls['confirmNewPassword'].errors?.['required'] && changePasswordForm.controls['confirmNewPassword'].touched">
          Potwierdzenie nowego hasła jest wymagane.
        </div>
        <div *ngIf="changePasswordForm.getError('passwordMismatch') && changePasswordForm.controls['confirmNewPassword'].touched">
          Nowe hasła nie pasują do siebie.
        </div>
      </div>
  
      <button type="submit" [disabled]="changePasswordForm.invalid" class="btn btn-warning">Zmień hasło</button>
    </form>
  </div>
  