<div class="container">
    <div class="content">
      <!--p *ngIf="loginError" class="has-text-danger">Incorrect login data!!</p-->
      <!--form [formGroup]="loginForm" (ngSubmit)="loginUser()"-->
      <label for="login">Wprowadz login</label>
      <input class="input is-expanded mb-2" id="login" formControlName="login" type="text" required placeholder="Wprowadz login">
      <!--p *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].touched" class="has-text-danger is-fullwidth is-small mb-2">Incorrect email format.</p-->
  
      <label for="hasło">Hasło</label>
      <input class="input is-expanded mb-2" id="hasło" formControlName="hasło" type="text" required placeholder="Wprowadz hasło">
      <!--p *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched" class="has-text-danger is-small is-fullwidth mb-2">Incorrect password format. Should be min 8 char length.</p-->
    
      <label for="hasło">Powtórz hasło</label>
      <input class="input is-expanded mb-2" id="hasło" formControlName="hasło" type="text" required placeholder="Wprowadz ponownie hasło">
      <!--p *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched" class="has-text-danger is-small is-fullwidth mb-2">Incorrect password format. Should be min 8 char length.</p-->
  
      <button type="submit" class="button is-fullwidth is-success mt-5">Zarejestruj się</button>
      <!--/form-->
    </div>
  </div>
