<div class="o1">
    <h1>Koszyk</h1>
    <!-- <table>
      <tr>
        <th>Tytuł</th>
        <th>Autor</th>
        <th>Cena</th>
        <th></th>
      </tr>
      <tr *ngFor="let book of cartItems">
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.price }}</td>
        <td><button (click)="removeCartItem(book)">Usuń</button></td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td><strong>Suma:</strong></td>
        <td><strong>{{ totalPrice }}</strong></td>
      </tr>
    </table>
  
    <div *ngIf="cartItems.length > 0">
      <button (click)="finalizePayment()">Finalizuj płatność</button>
    </div> -->



    <!-- <div *ngFor="let cartItem of cartItems">
      <h2>{{ cartItem.book.title }}</h2>
      <p>Autor: {{ cartItem.book.author }}</p>
      <p>Cena: {{ cartItem.book.price }}</p>
      <p>Ilość: <input type="number" [(ngModel)]="cartItem.quantity" (change)="updateQuantity(cartItem, cartItem.quantity)"></p>
      <button (click)="removeFromCart(cartItem)">Usuń z koszyka</button>
    </div> -->
      <div *ngFor="let item of cartItems">
        <h2>{{ item.title }}</h2>
        <p>{{ item.author }}</p>
        <p>Cena: {{ item.price }} zł</p>
        <button (click)="removeFromCart(item)">Usuń z koszyka</button>
        <input type="number" [(ngModel)]="item.quantity" min="1" (change)="updateQuantity(item)">
      </div>
      <div>
      <p></p>
      <h1>Suma: {{ calculateTotalPrice() | formatPrice}} zł</h1>
    </div>
  </div>
    
  